<div class="mat-display-large">This is display large</div>
<div class="mat-display-medium">This is display medium</div>
<div class="mat-display-small">This is display small</div>
<div class="mat-headline-large">This is headline large</div>
<div class="mat-headline-medium">This is headline medium</div>
<div class="mat-headline-small">This is headline small</div>
<div class="mat-body-large">This is body large</div>
<div class="mat-body-medium">This is body medium</div>
<div class="mat-body-small">This is body small</div>
<div class="mat-label-large">This is label large</div>
<div class="mat-label-medium">This is label medium</div>
<div class="mat-label-small">This is label small</div>
